doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Luis Sousa
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Acerca
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experiência
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Educação
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Hobbies
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Achievements

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Luis 
                        span.text-primary Sousa
                    .subheading.mb-5
                        | Moreira da Maia, 4470-397 · 936144559 · 
                        a(href='mailto:luisfilipeosousa@gmail.com') luisfilipeosousa@gmail.com
                    p.lead
                        | Experiente em desenvolvimento 
                        i frontend 
                        |de web, particularmente em Vue e Nuxt.
                    p.lead
                        | Sou Engenheiro Eletrotécnico "praticante", não tenho medo de projectos com 
                        i Hardware.
                    p.mb-5
                        | Estou neste momento a aprender a trabalhar em 
                        a(href="https://pugjs.org/api/getting-started.html") PUG
                        |  só para poder fazer este CV.
                    .social-icons
                        //- a.social-icon(href='')
                        //-     i.fab.fa-bitbucket
                        a.social-icon(href='https://github.com/arcticlula',target="_blank")
                            i.fab.fa-github
                        //- a.social-icon(href='#')
                        //-     i.fab.fa-twitter
                        //- a.social-icon(href='#')
                        //-     i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experiência

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 
                            a(href="http://www.dotlogic.pt",target="_blank") Dotlogic - Soluções Informáticas.
                            p Maioritariamente desenvolvimento web na área médica (cardiologia), alguns projectos de hardware.
                        .flex-shrink-0
                            span.text-primary Novembro 2017 - Presente

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Educação

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 ISEP - Instituto Superior de Engenharia do Porto
                            .subheading.mb-3 Mestrado em Engenharia Eletrotécnica e de Computadores
                            div Automação e Sistemas
                            p Média Atual: 15.0
                        .flex-shrink-0
                            span.text-primary Setembro 2015 - Presente

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Curso de “Eletrónica Avançada” - 175 horas
                            .subheading.mb-3 ATEC
                            div Edf. Siemens, Av. Mário Brito (EN 107) 3570 - Freixieiro 4455-491 Perafita
                        .flex-shrink-0
                            span.text-primary Julho 2013 - Dezembro 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 ISEP - Instituto Superior de Engenharia do Porto
                            .subheading.mb-3 Licenciatura em Engenharia Eletrotécnica
                            p Média Final: 13.9
                        .flex-shrink-0
                            span.text-primary Setembro 2012 - Agosto 2015

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Linguagens de programação e Frameworks
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                            p(style='font-size: 10px; text-align:center;') HTML5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                            p(style='font-size: 10px; text-align:center;') CSS
                        li.list-inline-item
                            i.fab.fa-sass
                            p(style='font-size: 10px; text-align:center;') SASS
                        li.list-inline-item
                            i.fab.fa-bootstrap
                            p(style='font-size: 10px; text-align:center;') Bootstrap
                        li.list-inline-item
                            i.fab.fa-js-square
                            p(style='font-size: 10px; text-align:center;') Javascript
                        li.list-inline-item
                            i.fab.fa-node-js
                            p(style='font-size: 10px; text-align:center;') NodeJS
                        li.list-inline-item
                            i.fab.fa-vuejs
                            p(style='font-size: 10px; text-align:center;') Vue
                        li.list-inline-item
                            span.icon
                              svg(width="45px", height="45px")
                                use(xlink:href="../assets/nuxt.svg#nuxt")
                            p(style='font-size: 10px; text-align:center;') Nuxt
                        li.list-inline-item
                            span.icon
                              svg(width="43px", height="43px")
                                use(xlink:href="../assets/cordova.svg#cordova")
                            p(style='font-size: 10px; text-align:center;') Cordova
                        li.list-inline-item
                            span.icon
                              svg(width="43px", height="43px")
                                use(xlink:href="../assets/firebase.svg#firebase")
                            p(style='font-size: 10px; text-align:center;') Firebase
                        li.list-inline-item
                            span.icon
                              svg(width="43px", height="43px")
                                use(xlink:href="../assets/microsoft.svg#microsoft")
                            p(style='font-size: 10px; text-align:center;') MS SQL
                        li.list-inline-item
                            span.icon
                              svg(width="43px", height="43px")
                                use(xlink:href="../assets/clang.svg#clang")
                            p(style='font-size: 10px; text-align:center;') C
                        li.list-inline-item
                            span.icon
                              svg(width="43px", height="43px")
                                use(xlink:href="../assets/openscad.svg#openscad")
                            p(style='font-size: 10px; text-align:center;') OpenSCAD
                        li.list-inline-item
                            i.fab.fa-git-alt
                            p(style='font-size: 10px; text-align:center;') Git
                    .subheading.mb-3 Habilidades
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Design Desktop / Mobile Responsivo.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Desenvolvimento de aplicações mobile nativas com o Cordova.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Conhecimentos de C aplicado a microcontroladores.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Desenho de placas de circuito impresso (PCB).
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Desenho CAD paramétrico a partir do OpenSCAD.
            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Hobbies
                    p
                        | Já fui jogador federado de vólei mas neste momento prefiro um bom jogo de futebol. Gosto bastante de inventar e criar, já desde pequeno que gosto do mundo da electrónica. Soldei a minha primeira coisa com 12 anos de idade.
                    p.mb-2
                        | Tenho feito alguns projectos ultimamente no meu tempo livre. O último foi um sistema de POS 
                        i (Point Of Sale) 
                        |  a pedido do meu pai.
                    p
                        a(href="https://livro-despesas.web.app", target="_blank") Livro de Despesas
                        |  - (
                        a(href="https://github.com/arcticlula/Livro-de-Despesas", target="_blank", style="font-size:12px") ver repositório
                        |)
                    p.mb-2
                        | Este deu um pouco mais de trabalho (e ainda é 
                        i work in progress
                        |), chama-se Segundas e serve para registar os golos, assistências e estatísticas dos jogos de futebol realizados às segundas pelo nosso grupo de amigos.
                    p.mb-5
                        a(href="https://segundas.web.app", target="_blank") Segundas 
                        |  - (
                        a(href="https://github.com/arcticlula/Mondays", target="_blank", style="font-size:12px") ver repositório
                        |)

                    ul.fa-ul
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Parte da equipa (Pickle Rick) vencedora da edição de 2018 do 
                            a(href="https://2018.makeorbreak.io", target="_blank") Make Or Break
                            |  na categoria 
                            i fun. 
            hr.m-0

            //- // Awards
            //- section#awards.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Achievements
            //-         ul.fa-ul.mb-0
            //-             li
            //-                 span.fa-li
            //-                     i.fas.fa-trophy.text-warning
            //-                 | Parte da equipa vencedora (Pickle Rick) da edição de 2018 do 
            //-                 a(href="https://2018.makeorbreak.io", target="_blank") Make Or Break

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')